
.navbar-login{
  width: 100%;
  height: 20%;
  /* background-color: blueviolet; */
}

.navbar-login > img{
  margin: 2% 0 2% 0;
}
.navbar-login > ul{
  float: right;
  width: 20%;
  margin: 5%;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.navbar-login > ul > li{
  list-style: none;
  float: left;
  margin: 10% 5%;
}

.navbar-login > ul > li > a{
  text-decoration: none;
  color: #333F48;
  padding: 8px;
}

.navbar-login > ul > li > a:hover{
  border-bottom: 3px solid #7CE0D3;
  /*   */
}